---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [
  { slug: 'with-wrapping-control', label: 'With wrapping control' },
  { slug: 'with-referencing-control', label: 'With referencing control' },
  { slug: 'with-input-number', label: 'With input number' },
];

const title = 'Label | Qwik Primitives Astro Playground';
const description = 'Renders an accessible label associated with controls.';
---

<BaseLayout title={title} description={description}>
  <h1>Label</h1>
  <p>Renders an accessible label associated with controls.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/label/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
