---
import { BaseLayout } from '@/layouts';
import { AnimatedUncontrolledClosedByDefault } from '@/demos/collapsible/animated-uncontrolled-closed-by-default';

const title = 'Collapsible animated uncontrolled closed by default | Qwik Primitives Astro Playground';
const description = 'An interactive component which expands/collapses a panel.';
---

<BaseLayout title={title} description={description}>
  <a href="/collapsible">
    <h1>Collapsible</h1>
  </a>
  <p>An interactive component which expands/collapses a panel.</p>
  <AnimatedUncontrolledClosedByDefault />
</BaseLayout>
