---
import { BaseLayout } from '@/layouts';
import { Breadcrumbs } from '@/demos';

const title = 'Breadcrumbs disabled | Qwik Primitives Astro Playground';
const description = 'Show hierarchy and navigational context for a user`s location within an application.';
---

<BaseLayout title={title} description={description}>
  <h1>Breadcrumbs</h1>
  <p>Show hierarchy and navigational context for a user`s location within an application.</p>

  <Breadcrumbs.Disabled />
</BaseLayout>
