---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [
  { slug: 'example', label: 'Example' },
  { slug: 'disabled', label: 'Disabled' },
  { slug: 'with-disabled-link', label: 'With disabled link' },
];

const title = 'Breadcrumbs | Qwik Primitives Astro Playground';
const description = 'Show hierarchy and navigational context for a user`s location within an application.';
---

<BaseLayout title={title} description={description}>
  <h1>Breadcrumbs</h1>
  <p>Show hierarchy and navigational context for a user`s location within an application.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/breadcrumbs/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
