@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: transparent;

    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.125rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1.5rem;
    --font-size-7: 1.75rem;
    --font-size-8: 2.1875rem;
    --font-size-9: 3.75rem;

    --line-height-1: 1rem;
    --line-height-2: 1.25rem;
    --line-height-3: 1.5rem;
    --line-height-4: 1.625rem;
    --line-height-5: 1.75rem;
    --line-height-6: 1.875rem;
    --line-height-7: 2.25rem;
    --line-height-8: 2.5rem;
    --line-height-9: 3.75rem;

    --letter-spacing-1: 0.0025em;
    --letter-spacing-2: 0em;
    --letter-spacing-3: 0em;
    --letter-spacing-4: -0.0025em;
    --letter-spacing-5: -0.005em;
    --letter-spacing-6: -0.00625em;
    --letter-spacing-7: -0.0075em;
    --letter-spacing-8: -0.01em;
    --letter-spacing-9: -0.025em;

    --color-black-alpha-1: #0000000d;
    --color-black-alpha-2: #0000001a;
    --color-black-alpha-3: #00000026;
    --color-black-alpha-4: #00000033;
    --color-black-alpha-5: #0000004d;
    --color-black-alpha-6: #00000066;
    --color-black-alpha-7: #00000080;
    --color-black-alpha-8: #00000099;
    --color-black-alpha-9: #000000b3;
    --color-black-alpha-10: #000000cc;
    --color-black-alpha-11: #000000e6;
    --color-black-alpha-12: #000000f2;

    --color-white-alpha-1: rgba(255, 255, 255, 0.05);
    --color-white-alpha-2: rgba(255, 255, 255, 0.1);
    --color-white-alpha-3: rgba(255, 255, 255, 0.15);
    --color-white-alpha-4: rgba(255, 255, 255, 0.2);
    --color-white-alpha-5: rgba(255, 255, 255, 0.3);
    --color-white-alpha-6: rgba(255, 255, 255, 0.4);
    --color-white-alpha-7: rgba(255, 255, 255, 0.5);
    --color-white-alpha-8: rgba(255, 255, 255, 0.6);
    --color-white-alpha-9: rgba(255, 255, 255, 0.7);
    --color-white-alpha-10: rgba(255, 255, 255, 0.8);
    --color-white-alpha-11: rgba(255, 255, 255, 0.9);
    --color-white-alpha-12: rgba(255, 255, 255, 0.95);
  }

  [data-theme='light'] {
    --color-background: #ffffff;
    --color-foreground: #1e1f24;
    --color-panel: #ffffff;
    --color-overlay: #00000066;

    /* color default */
    --color-default-focus: #b9bbc6;
    --color-default-selection: #0009321f;
    --color-default-contrast: #ffffff;

    --color-default-solid-1: #fcfcfd;
    --color-default-solid-2: #f9f9fb;
    --color-default-solid-3: #eff0f3;
    --color-default-solid-4: #e7e8ec;
    --color-default-solid-5: #e0e1e6;
    --color-default-solid-6: #d8d9e0;
    --color-default-solid-7: #cdced7;
    --color-default-solid-8: #b9bbc6;
    --color-default-solid-9: #8b8d98;
    --color-default-solid-10: #80828d;
    --color-default-solid-11: #62636c;
    --color-default-solid-12: #1e1f24;

    --color-default-alpha-1: #00005503;
    --color-default-alpha-2: #00005506;
    --color-default-alpha-3: #00104010;
    --color-default-alpha-4: #000b3618;
    --color-default-alpha-5: #0009321f;
    --color-default-alpha-6: #00073527;
    --color-default-alpha-7: #00063332;
    --color-default-alpha-8: #00083046;
    --color-default-alpha-9: #00051d74;
    --color-default-alpha-10: #00051b7f;
    --color-default-alpha-11: #0002119d;
    --color-default-alpha-12: #000107e1;

    /* color primary */
    --color-primary-focus: #b98bff;
    --color-primary-selection: #6b01ff2b;
    --color-primary-contrast: #ffffff;

    --color-primary-solid-1: #fdfcff;
    --color-primary-solid-2: #faf8ff;
    --color-primary-solid-3: #f5eeff;
    --color-primary-solid-4: #eee1ff;
    --color-primary-solid-5: #e6d4ff;
    --color-primary-solid-6: #dbc3ff;
    --color-primary-solid-7: #ccacff;
    --color-primary-solid-8: #b98bff;
    --color-primary-solid-9: #ac7ef4;
    --color-primary-solid-10: #a072e7;
    --color-primary-solid-11: #7747b8;
    --color-primary-solid-12: #40126f;

    --color-primary-alpha-1: #5500ff03;
    --color-primary-alpha-2: #4900ff07;
    --color-primary-alpha-3: #6900ff11;
    --color-primary-alpha-4: #6f00ff1e;
    --color-primary-alpha-5: #6b01ff2b;
    --color-primary-alpha-6: #6600ff3c;
    --color-primary-alpha-7: #6300ff53;
    --color-primary-alpha-8: #6600ff74;
    --color-primary-alpha-9: #5b00ea81;
    --color-primary-alpha-10: #5400d48d;
    --color-primary-alpha-11: #43009db8;
    --color-primary-alpha-12: #320064ed;

    /* color success */
    --color-success-focus: #65ba74;
    --color-success-selection: #00930536;
    --color-success-contrast: #ffffff;

    --color-success-solid-1: #fbfefb;
    --color-success-solid-2: #f5fbf5;
    --color-success-solid-3: #e9f6e9;
    --color-success-solid-4: #daf1db;
    --color-success-solid-5: #c9e8ca;
    --color-success-solid-6: #b2ddb5;
    --color-success-solid-7: #94ce9a;
    --color-success-solid-8: #65ba74;
    --color-success-solid-9: #46a758;
    --color-success-solid-10: #3e9b4f;
    --color-success-solid-11: #2a7e3b;
    --color-success-solid-12: #203c25;

    --color-success-alpha-1: #00c00004;
    --color-success-alpha-2: #0099000a;
    --color-success-alpha-3: #00970016;
    --color-success-alpha-4: #009f0725;
    --color-success-alpha-5: #00930536;
    --color-success-alpha-6: #008f0a4d;
    --color-success-alpha-7: #018b0f6b;
    --color-success-alpha-8: #008d199a;
    --color-success-alpha-9: #008619b9;
    --color-success-alpha-10: #007b17c1;
    --color-success-alpha-11: #006514d5;
    --color-success-alpha-12: #002006df;

    /* color warning */
    --color-warning-focus: #d5ae39;
    --color-warning-selection: #ffd5008f;
    --color-warning-contrast: #21201c;

    --color-warning-solid-1: #fdfdf9;
    --color-warning-solid-2: #fefce9;
    --color-warning-solid-3: #fffab8;
    --color-warning-solid-4: #fff394;
    --color-warning-solid-5: #ffe770;
    --color-warning-solid-6: #f3d768;
    --color-warning-solid-7: #e4c767;
    --color-warning-solid-8: #d5ae39;
    --color-warning-solid-9: #ffe629;
    --color-warning-solid-10: #ffdc00;
    --color-warning-solid-11: #9e6c00;
    --color-warning-solid-12: #473b1f;

    --color-warning-alpha-1: #aaaa0006;
    --color-warning-alpha-2: #f4dd0016;
    --color-warning-alpha-3: #ffee0047;
    --color-warning-alpha-4: #ffe3016b;
    --color-warning-alpha-5: #ffd5008f;
    --color-warning-alpha-6: #ebbc0097;
    --color-warning-alpha-7: #d2a10098;
    --color-warning-alpha-8: #c99700c6;
    --color-warning-alpha-9: #ffe100d6;
    --color-warning-alpha-10: #ffdc00;
    --color-warning-alpha-11: #9e6c00;
    --color-warning-alpha-12: #2e2000e0;

    /* color danger */
    --color-danger-focus: #eb8e90;
    --color-danger-selection: #ff000632;
    --color-danger-contrast: #ffffff;

    --color-danger-solid-1: #fffcfc;
    --color-danger-solid-2: #fff7f7;
    --color-danger-solid-3: #feebec;
    --color-danger-solid-4: #ffdbdc;
    --color-danger-solid-5: #ffcdce;
    --color-danger-solid-6: #fdbdbe;
    --color-danger-solid-7: #f4a9aa;
    --color-danger-solid-8: #eb8e90;
    --color-danger-solid-9: #e5484d;
    --color-danger-solid-10: #dc3e42;
    --color-danger-solid-11: #ce2c31;
    --color-danger-solid-12: #641723;

    --color-danger-alpha-1: #ff000003;
    --color-danger-alpha-2: #ff000008;
    --color-danger-alpha-3: #f3000d14;
    --color-danger-alpha-4: #ff000824;
    --color-danger-alpha-5: #ff000632;
    --color-danger-alpha-6: #f8000442;
    --color-danger-alpha-7: #df000356;
    --color-danger-alpha-8: #d2000571;
    --color-danger-alpha-9: #db0007b7;
    --color-danger-alpha-10: #d10005c1;
    --color-danger-alpha-11: #c40006d3;
    --color-danger-alpha-12: #55000de8;

    --syntax-highlighter-background: #ffffff;
    --syntax-highlighter-foreground: #1e1f24;
    --syntax-highlighter-token-constant: #3a5bc7;
    --syntax-highlighter-token-string: #2a7e3b;
    --syntax-highlighter-token-comment: #62636c;
    --syntax-highlighter-token-keyword: #c2298a;
    --syntax-highlighter-token-parameter: #9e6c00;
    --syntax-highlighter-token-function: #7747b8;
    --syntax-highlighter-token-string-expression: #3a5bc7;
    --syntax-highlighter-token-punctuation: #1e1f24;
    --syntax-highlighter-token-link: #2a7e3b;

    /* prettier-ignore */
    --shadow-1:
    	inset 0 0 0 1px var(--color-default-alpha-5),
    	inset 0 1.5px 2px 0 var(--color-default-alpha-2),
    	inset 0 1.5px 2px 0 var(--color-black-alpha-2);

    /* prettier-ignore */
    --shadow-2:
			0 0 0 1px var(--color-default-alpha-3),
			0 0 0 0.5px var(--color-black-alpha-1),
			0 1px 1px 0 var(--color-default-alpha-2),
			0 2px 1px -1px var(--color-black-alpha-1),
			0 1px 3px 0 var(--color-black-alpha-1);

    /* prettier-ignore */
    --shadow-3:
			0 0 0 1px var(--color-default-alpha-3),
			0 2px 3px -2px var(--color-default-alpha-3),
			0 3px 12px -4px var(--color-black-alpha-2),
			0 4px 16px -8px var(--color-black-alpha-2);

    /* prettier-ignore */
    --shadow-4:
			0 0 0 1px var(--color-default-alpha-3),
			0 8px 40px var(--color-black-alpha-1),
			0 12px 32px -16px var(--color-default-alpha-3);

    /* prettier-ignore */
    --shadow-5:
			0 0 0 1px var(--color-default-alpha-3),
			0 12px 60px var(--color-black-alpha-3),
			0 12px 32px -16px var(--color-default-alpha-5);

    /* prettier-ignore */
    --shadow-6:
			0 0 0 1px var(--color-default-alpha-3),
			0 12px 60px var(--color-black-alpha-3),
			0 16px 64px var(--color-default-alpha-2),
			0 16px 36px -20px var(--color-default-alpha-7);

    /* prettier-ignore */
    --shadow-kbd:
			inset 0 -0.05em 0.5em var(--color-default-alpha-2),
			inset 0 0.05em var(--color-white-alpha-12),
			inset 0 0.25em 0.5em var(--color-default-alpha-2),
			inset 0 -0.05em var(--color-default-alpha-6),
			0 0 0 0.05em var(--color-default-alpha-5),
			0 0.08em 0.17em var(--color-default-alpha-7);
  }

  [data-theme='dark'] {
    --color-background: #111111;
    --color-foreground: #eeeef0;
    --color-panel: #19191b;
    --color-overlay: #00000099;

    /* color default */
    --color-default-focus: #5f606a;
    --color-default-selection: #d7ddfd28;
    --color-default-contrast: #ffffff;

    --color-default-solid-1: #101113;
    --color-default-solid-2: #19191b;
    --color-default-solid-3: #222225;
    --color-default-solid-4: #29292e;
    --color-default-solid-5: #303136;
    --color-default-solid-6: #393a40;
    --color-default-solid-7: #46474e;
    --color-default-solid-8: #5e606a;
    --color-default-solid-9: #6c6e79;
    --color-default-solid-10: #797b86;
    --color-default-solid-11: #b1b3bd;
    --color-default-solid-12: #eeeef0;

    --color-default-alpha-1: #0011bb03;
    --color-default-alpha-2: #cbcbf90b;
    --color-default-alpha-3: #d6d6f916;
    --color-default-alpha-4: #d1d1f920;
    --color-default-alpha-5: #d7ddfd28;
    --color-default-alpha-6: #d9defc33;
    --color-default-alpha-7: #dee2fd42;
    --color-default-alpha-8: #dde3fd60;
    --color-default-alpha-9: #e0e4fd70;
    --color-default-alpha-10: #e3e7fd7e;
    --color-default-alpha-11: #edf0feb9;
    --color-default-alpha-12: #fdfdffef;

    /* color primary */
    --color-primary-focus: #7857ab;
    --color-primary-selection: #9e61ff57;
    --color-primary-contrast: #ffffff;

    --color-primary-solid-1: #130f1a;
    --color-primary-solid-2: #1a1525;
    --color-primary-solid-3: #2b1e40;
    --color-primary-solid-4: #372455;
    --color-primary-solid-5: #412c62;
    --color-primary-solid-6: #4d3671;
    --color-primary-solid-7: #5e4487;
    --color-primary-solid-8: #7857ab;
    --color-primary-solid-9: #ac7ef4;
    --color-primary-solid-10: #a072e7;
    --color-primary-solid-11: #c6a1ff;
    --color-primary-solid-12: #e6dbfd;

    --color-primary-alpha-1: #4500f70a;
    --color-primary-alpha-2: #793ff916;
    --color-primary-alpha-3: #9352fc33;
    --color-primary-alpha-4: #9654ff49;
    --color-primary-alpha-5: #9e61ff57;
    --color-primary-alpha-6: #a66dff67;
    --color-primary-alpha-7: #ab77fd7f;
    --color-primary-alpha-8: #b07dffa5;
    --color-primary-alpha-9: #b383fef4;
    --color-primary-alpha-10: #af7cfee6;
    --color-primary-alpha-11: #c6a1ff;
    --color-primary-alpha-12: #e8ddfffd;

    /* color success */
    --color-success-focus: #3e7949;
    --color-success-selection: #68ff8b3b;
    --color-success-contrast: #ffffff;

    --color-success-solid-1: #0e1511;
    --color-success-solid-2: #141a15;
    --color-success-solid-3: #1b2a1e;
    --color-success-solid-4: #1d3a24;
    --color-success-solid-5: #25482d;
    --color-success-solid-6: #2d5736;
    --color-success-solid-7: #366740;
    --color-success-solid-8: #3e7949;
    --color-success-solid-9: #46a758;
    --color-success-solid-10: #53b365;
    --color-success-solid-11: #71d083;
    --color-success-solid-12: #c2f0c2;

    --color-success-alpha-1: #00de1205;
    --color-success-alpha-2: #5ef7780a;
    --color-success-alpha-3: #70fe8c1b;
    --color-success-alpha-4: #57ff802c;
    --color-success-alpha-5: #68ff8b3b;
    --color-success-alpha-6: #71ff8f4b;
    --color-success-alpha-7: #77fd925d;
    --color-success-alpha-8: #77fd9070;
    --color-success-alpha-9: #65ff82a1;
    --color-success-alpha-10: #72ff8dae;
    --color-success-alpha-11: #89ff9fcd;
    --color-success-alpha-12: #ceffceef;

    /* color warning */
    --color-warning-focus: #836a21;
    --color-warning-selection: #febb0036;
    --color-warning-contrast: #21201c;

    --color-warning-solid-1: #14120b;
    --color-warning-solid-2: #1b180f;
    --color-warning-solid-3: #2d2305;
    --color-warning-solid-4: #362b00;
    --color-warning-solid-5: #433500;
    --color-warning-solid-6: #524202;
    --color-warning-solid-7: #665417;
    --color-warning-solid-8: #836a21;
    --color-warning-solid-9: #ffe629;
    --color-warning-solid-10: #ffff57;
    --color-warning-solid-11: #f5e147;
    --color-warning-solid-12: #f6eeb4;

    --color-warning-alpha-1: #d1510004;
    --color-warning-alpha-2: #f9b4000b;
    --color-warning-alpha-3: #ffaa001e;
    --color-warning-alpha-4: #fdb70028;
    --color-warning-alpha-5: #febb0036;
    --color-warning-alpha-6: #fec40046;
    --color-warning-alpha-7: #fdcb225c;
    --color-warning-alpha-8: #fdca327b;
    --color-warning-alpha-9: #ffe629;
    --color-warning-alpha-10: #ffff57;
    --color-warning-alpha-11: #fee949f5;
    --color-warning-alpha-12: #fef6baf6;

    /* color danger */
    --color-danger-focus: #b54548;
    --color-danger-selection: #ff204756;
    --color-danger-contrast: #ffffff;

    --color-danger-solid-1: #191111;
    --color-danger-solid-2: #201314;
    --color-danger-solid-3: #3b1219;
    --color-danger-solid-4: #500f1c;
    --color-danger-solid-5: #611623;
    --color-danger-solid-6: #72232d;
    --color-danger-solid-7: #8c333a;
    --color-danger-solid-8: #b54548;
    --color-danger-solid-9: #e5484d;
    --color-danger-solid-10: #ec5d5e;
    --color-danger-solid-11: #ff9592;
    --color-danger-solid-12: #ffd1d9;

    --color-danger-alpha-1: #f4121209;
    --color-danger-alpha-2: #f22f3e11;
    --color-danger-alpha-3: #ff173f2d;
    --color-danger-alpha-4: #fe0a3b44;
    --color-danger-alpha-5: #ff204756;
    --color-danger-alpha-6: #ff3e5668;
    --color-danger-alpha-7: #ff536184;
    --color-danger-alpha-8: #ff5d61b0;
    --color-danger-alpha-9: #fe4e54e4;
    --color-danger-alpha-10: #ff6465eb;
    --color-danger-alpha-11: #ff9592;
    --color-danger-alpha-12: #ffd1d9;

    --syntax-highlighter-background: #19191b;
    --syntax-highlighter-foreground: #eeeef0;
    --syntax-highlighter-token-constant: #9eb1ff;
    --syntax-highlighter-token-string: #71d083;
    --syntax-highlighter-token-comment: #b2b3bd;
    --syntax-highlighter-token-keyword: #ff8dcc;
    --syntax-highlighter-token-parameter: #f5e147;
    --syntax-highlighter-token-function: #c6a1ff;
    --syntax-highlighter-token-string-expression: #9eb1ff;
    --syntax-highlighter-token-punctuation: #eeeef0;
    --syntax-highlighter-token-link: #71d083;

    /* prettier-ignore */
    --shadow-1:
			inset 0 -1px 1px 0 var(--color-default-alpha-3),
			inset 0 0 0 1px var(--color-default-alpha-3),
			inset 0 3px 4px 0 var(--color-black-alpha-5),
			inset 0 0 0 1px var(--color-default-alpha-4);

    /* prettier-ignore */
    --shadow-2:
			0 0 0 1px var(--color-default-alpha-6),
			0 0 0 0.5px var(--color-black-alpha-3),
			0 1px 1px 0 var(--color-black-alpha-6),
			0 2px 1px -1px var(--color-black-alpha-6),
			0 1px 3px 0 var(--color-black-alpha-5);

    /* prettier-ignore */
    --shadow-3:
			0 0 0 1px var(--color-default-alpha-6),
			0 2px 3px -2px var(--color-black-alpha-3),
			0 3px 8px -2px var(--color-black-alpha-6),
			0 4px 12px -4px var(--color-black-alpha-7);

    /* prettier-ignore */
    --shadow-4:
			0 0 0 1px var(--color-default-alpha-6),
			0 8px 40px var(--color-black-alpha-3),
			0 12px 32px -16px var(--color-black-alpha-5);

    /* prettier-ignore */
    --shadow-5:
			0 0 0 1px var(--color-default-alpha-6),
			0 12px 60px var(--color-black-alpha-5),
			0 12px 32px -16px var(--color-black-alpha-7);

    /* prettier-ignore */
    --shadow-6:
			0 0 0 1px var(--color-default-alpha-6),
			0 12px 60px var(--color-black-alpha-4),
			0 16px 64px var(--color-black-alpha-6),
			0 16px 36px -20px var(--color-black-alpha-11);

    /* prettier-ignore */
    --shadow-kbd:
			inset 0 -0.05em 0.5em var(--color-default-alpha-3),
			inset 0 0.05em var(--color-default-alpha-11),
			inset 0 0.25em 0.5em var(--color-default-alpha-2),
			inset 0 -0.1em var(--color-black-alpha-11),
			0 0 0 0.075em var(--color-default-alpha-7),
			0 0.08em 0.17em var(--color-black-alpha-12);
  }

  [data-radius] {
    --radius-1: calc(3px * var(--radius-factor));
    --radius-2: calc(4px * var(--radius-factor));
    --radius-3: calc(6px * var(--radius-factor));
    --radius-4: calc(8px * var(--radius-factor));
    --radius-5: calc(12px * var(--radius-factor));
    --radius-6: calc(16px * var(--radius-factor));
  }

  [data-radius='none'] {
    --radius-factor: 0;
    --radius-full: 0px;
    --radius-thumb: 0.5px;
  }

  [data-radius='small'] {
    --radius-factor: 0.75;
    --radius-full: 0px;
    --radius-thumb: 0.5px;
  }

  [data-radius='medium'] {
    --radius-factor: 1;
    --radius-full: 0px;
    --radius-thumb: 9999px;
  }

  [data-radius='large'] {
    --radius-factor: 1.5;
    --radius-full: 0px;
    --radius-thumb: 9999px;
  }

  [data-radius='full'] {
    --radius-factor: 1.5;
    --radius-full: 9999px;
    --radius-thumb: 9999px;
  }
}
