---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [
  { slug: 'without-image-and-with-fallback', label: 'Without image & with fallback' },
  { slug: 'with-image-and-with-fallback', label: 'With image & with fallback' },
  { slug: 'with-image-and-with-fallback-but-broken-src', label: 'With image & with fallback (but broken src)' },
];

const title = 'Avatar | Qwik Primitives Astro Playground';
const description = 'An image element with a fallback for representing the user.';
---

<BaseLayout title={title} description={description}>
  <h1>Avatar</h1>
  <p>An image element with a fallback for representing the user.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/avatar/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
