# Dependencies
node_modules
.pnp
.pnp.js

# Cache
.cache
.mf
.vscode
.rollup.cache
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

# Local env files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Astro
.astro

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build
dist
lib
lib-types
server
storybook-static

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
*.pem
