---
import type { HTMLAttributes } from 'astro/types';
import { twm } from '@/utilities/twm';
import { imageLinkRootStyles } from './image-link-root.styles';

interface Props extends HTMLAttributes<'a'> {
  /**
   * The URL that the hyperlink points to.
   */
  href: string;
}

const { class: className, ...others } = Astro.props;
---

<a class={twm(imageLinkRootStyles(), className)} {...others}>
  <slot />
</a>
