---
import { Separator } from '@/ui/astro/separator';

import { LogoAndTextLink } from '@/components/logo-and-text-link';
import { VersionBadge } from '@/components/version-badge';
import { ThemeSwitch } from '@/components/theme-switch';
import { MobileMenu } from '@/components/mobile-menu';
import { DocsNav } from '@/components/docs-nav';

import { PageHeaderNav } from './page-header-nav';
import { PageHeaderDocumentationLink } from './page-header-documentation-link';
import { PageHeaderGithubLink } from './page-header-github-link';
import { PageHeaderScrollingScript } from './page-header-scrolling-script';
import { pageHeaderStyles } from './page-header.styles';

interface Props {
  /**
   * The variant of the page header.
   * @default "default"
   */
  variant?: 'default' | 'ghost';
}

const { variant = 'default' } = Astro.props;
---

{variant === 'ghost' && <div data-page-header-scroll-watcher />}

<header data-page-header={variant === 'ghost' ? '' : undefined} class={pageHeaderStyles({ variant })}>
  <PageHeaderNav>
    <div class="flex items-center gap-x-3">
      <LogoAndTextLink />
      <VersionBadge />
    </div>

    <div class="flex h-full items-center">
      <PageHeaderDocumentationLink />
      <Separator.Root orientation="vertical" class="ml-3 mr-1.5 hidden h-1/2 lg:block" />
      <div class="flex gap-x-1.5">
        <PageHeaderGithubLink />
        <ThemeSwitch />

        <MobileMenu name="docs">
          <div slot="header" class="flex items-center gap-x-3">
            <LogoAndTextLink />
            <VersionBadge />
          </div>

          <DocsNav variant="mobile" slot="body" />
        </MobileMenu>
      </div>
    </div>
  </PageHeaderNav>
</header>

{variant === 'ghost' && <PageHeaderScrollingScript />}
