.accordion-item-panel[data-state='open'] {
  animation: accordion-item-panel-down 300ms ease-out;
}

.accordion-item-panel[data-state='closed'] {
  animation: accordion-item-panel-up 300ms ease-out;
}

@keyframes accordion-item-panel-down {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes accordion-item-panel-up {
  0% {
    grid-template-rows: 1fr;
  }
  100% {
    grid-template-rows: 0fr;
  }
}
