---
import { BaseLayout } from '@/layouts';
import { Collapsible } from '@/demos';

const title = 'Collapsible uncontrolled open by default | Qwik Primitives Astro Playground';
const description = 'An interactive component which expands/collapses a panel.';
---

<BaseLayout title={title} description={description}>
  <h1>Collapsible</h1>
  <p>An interactive component which expands/collapses a panel.</p>

  <Collapsible.UncontrolledOpenByDefault />
</BaseLayout>
