@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-400-normal.woff2) format('woff2');
}

/* Fallback fonts */
@font-face {
  font-family: 'Geist Sans Fallback';
  src: local('Arial');
  ascent-override: 85.6%;
  descent-override: 20.47%;
  line-gap-override: 9.3%;
  size-adjust: 107.48%;
}

@font-face {
  font-family: 'Geist Mono Fallback';
  src: local('Arial');
  ascent-override: 77.03%;
  descent-override: 20.29%;
  line-gap-override: 0%;
  size-adjust: 131.41%;
}
