---
import { BaseLayout } from '@/layouts';
import { Link } from '@/demos';

const title = 'Link disabled | Qwik Primitives Astro Playground';
const description = 'Semantic element for navigation between pages.';
---

<BaseLayout title={title} description={description}>
  <h1>Link</h1>
  <p>Semantic element for navigation between pages.</p>

  <Link.Disabled />
</BaseLayout>
