---
import type { HTMLAttributes } from 'astro/types';
import { twm } from '@/utilities/twm';
import { iconButtonLinkRootStyles } from './icon-button-link-root.styles';

interface Props extends HTMLAttributes<'a'> {
  /**
   * The URL that the hyperlink points to.
   */
  href: string;

  /**
   * The size of the icon button link.
   * @default "2"
   */
  size?: '1' | '2' | '3' | '4';

  /**
   * The variant of the icon button link.
   * @default "ghost"
   */
  variant?: 'solid' | 'soft' | 'ghost';

  /**
   * The color of the icon button link.
   * @default "default"
   */
  color?: 'default' | 'primary';

  /**
   * Uses a higher contrast color for the icon button link.
   */
  highContrast?: boolean;

  /**
   * Overrides the value of the icon button link border radius inherited from the theme.
   */
  radius?: 'none' | 'small' | 'medium' | 'large' | 'full';

  /**
   * Whether the link lead to external source.
   */
  external?: boolean;

  /**
   * Whether the link should open in a new tab.
   */
  openInNewTab?: boolean;
}

const {
  size = '2',
  variant = 'ghost',
  color = 'default',
  highContrast = false,
  radius,
  external,
  openInNewTab,
  class: className,
  ...others
} = Astro.props;
---

<a
  rel={external ? 'noopener noreferrer' : undefined}
  target={openInNewTab ? '_blank' : undefined}
  data-radius={radius}
  class={twm(iconButtonLinkRootStyles({ size, variant, color, highContrast }), className)}
  {...others}
>
  <slot />
</a>
