---
import { BaseLayout } from '@/layouts';
import { AccessibleIcon } from '@/demos';

const title = 'Accessible Icon example | Qwik Primitives Astro Playground';
const description = 'Makes icons accessible by adding a label.';
---

<BaseLayout title={title} description={description}>
  <h1>Accessible Icon</h1>
  <p>Makes icons accessible by adding a label.</p>

  <AccessibleIcon.Example />
</BaseLayout>
