---
import { Icon } from 'astro-icon/components';

import { DocsNavGroup } from './docs-nav-group';
import { DocsNavHeading } from './docs-nav-heading';
import { DocsNavList } from './docs-nav-list';
import { DocsNavItem } from './docs-nav-item';
import { DocsNavLink } from './docs-nav-link';
import { docsNavStyles } from './docs-nav.styles';

interface Props {
  /**
   * The variant of the docs navigation.
   */
  variant: 'mobile' | 'desktop';
}

const { variant } = Astro.props;
const { pathname } = Astro.url;
---

<nav aria-label="Docs navigation" class={docsNavStyles()}>
  {
    variant === 'mobile' && (
      <DocsNavList>
        <DocsNavItem>
          <DocsNavLink href="/" active={pathname === '/'}>
            Home page
          </DocsNavLink>
        </DocsNavItem>
      </DocsNavList>
    )
  }

  {
    variant === 'mobile' && (
      <DocsNavGroup>
        <DocsNavHeading id="resources">Resources</DocsNavHeading>
        <DocsNavList aria-labelledby="resources">
          <DocsNavItem>
            <DocsNavLink href="https://github.com/ZAHON/qwik-primitives" external={true} openInNewTab={true}>
              <Icon name="github-logo" height={15} width={15} /> GitHub
            </DocsNavLink>
          </DocsNavItem>
        </DocsNavList>
      </DocsNavGroup>
    )
  }
</nav>
