---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const componentsLinks = [
  { slug: 'alert', label: 'Alert' },
  { slug: 'breadcrumbs', label: 'Breadcrumbs' },
  { slug: 'collapsible', label: 'Collapsible' },
  { slug: 'link', label: 'Link' },
  { slug: 'visually-hidden', label: 'Visually Hidden' },
];

const title = 'Qwik Primitives Astro Playground';
const description = 'The astro playground for Qwik Primitives.';
---

<BaseLayout title={title} description={description}>
  <h1>Qwik Primitives Astro Playground</h1>
  <p>The astro playground for Qwik Primitives.</p>

  <h2>Components</h2>
  <List.Root>
    {
      componentsLinks.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>

  <h2>Hooks</h2>

  <h2>Utilities</h2>
</BaseLayout>
