---
import { BaseLayout } from '@/layouts';

const title = 'Qwik Primitives Astro Playground';
const description = 'The astro playground for Qwik Primitives.';
---

<BaseLayout title={title} description={description}>
  <h1>Qwik Primitives Astro Playground</h1>
  <p>The astro playground for Qwik Primitives.</p>
  <div style="display: flex; flex-direction: column; row-gap: 0.5rem;"></div>
</BaseLayout>
