---
import { CheckIcon } from '@/icons/check-icon';
import { featuresListItemMarkerStyles } from './features-list-item-marker.styles';
---

<span aria-hidden="true" class={featuresListItemMarkerStyles()}>
  <CheckIcon name="check" height={15} width={15} class="size-[0.9375rem]" />
</span>
