---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [
  { slug: 'uncontrolled-closed-by-default', label: 'Uncontrolled closed by default' },
  { slug: 'uncontrolled-open-by-default', label: 'Uncontrolled open by default' },
  { slug: 'controlled-closed-by-default', label: 'Controlled closed by default' },
  { slug: 'controlled-open-by-default', label: 'Controlled open by default' },
  { slug: 'animated-uncontrolled-closed-by-default', label: 'Animated uncontrolled closed by default' },
  { slug: 'animated-uncontrolled-open-by-default', label: 'Animated uncontrolled open by default' },
  { slug: 'animated-controlled-closed-by-default', label: 'Animated controlled closed by default' },
  { slug: 'animated-controlled-open-by-default', label: 'Animated controlled open by default' },
];

const title = 'Collapsible | Qwik Primitives Astro Playground';
const description = 'An interactive component which expands/collapses a panel.';
---

<BaseLayout title={title} description={description}>
  <h1>Collapsible</h1>
  <p>An interactive component which expands/collapses a panel.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/collapsible/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
