---
import { BaseLayout } from '@/layouts';
import { ControlledClosedByDefault } from '@/demos/collapsible/controlled-closed-by-default';

const title = 'Collapsible controlled closed by default | Qwik Primitives Astro Playground';
const description = 'An interactive component which expands/collapses a panel.';
---

<BaseLayout title={title} description={description}>
  <a href="/collapsible">
    <h1>Collapsible</h1>
  </a>
  <p>An interactive component which expands/collapses a panel.</p>
  <ControlledClosedByDefault />
</BaseLayout>
