---
import { BaseLayout } from '@/layouts/base-layout';
---

<BaseLayout.Root>
  <BaseLayout.Head title="Qwik Primitives" description="home page" />
  <BaseLayout.Body>
    <h1>Home page</h1>
  </BaseLayout.Body>
</BaseLayout.Root>
