---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  /**
   * If you `true`, the link will have the `target="_blank"` and `rel="noopener noreferrer"` attributes.
   * @default false
   */
  external?: boolean;

  /**
   * The URL that the hyperlink points to.
   */
  href: string;
}

const { external, ...others } = Astro.props;

const externalAttributes = {
  target: external ? '_blank' : undefined,
  rel: external ? 'noopener noreferrer' : undefined,
};
---

<a {...externalAttributes} {...others}><slot /></a>
