.collapsible-panel[data-state='open'] {
  animation: collapsible-panel-down 300ms ease-out;
}

.collapsible-panel[data-state='closed'] {
  animation: collapsible-panel-up 300ms ease-out;
}

@keyframes collapsible-panel-down {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes collapsible-panel-up {
  0% {
    grid-template-rows: 1fr;
  }
  100% {
    grid-template-rows: 0fr;
  }
}
