---
import { BaseLayout } from '@/layouts';
import { Dialog } from '@/demos';

const title = 'Dialog initially open | Qwik Primitives Astro Playground';
const description =
  'A window overlaid on either the primary window or another dialog window, rendering the content underneath inert.';
---

<BaseLayout title={title} description={description}>
  <h1>Dialog</h1>
  <p>
    A window overlaid on either the primary window or another dialog window, rendering the content underneath inert.
  </p>

  <Dialog.InitiallyOpen />
</BaseLayout>
