---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [{ slug: 'example', label: 'Example' }];

const title = 'Accessible Icon | Qwik Primitives Astro Playground';
const description = 'Makes icons accessible by adding a label.';
---

<BaseLayout title={title} description={description}>
  <h1>Accessible Icon</h1>
  <p>Makes icons accessible by adding a label.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/accessible-icon/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
