.alert-dialog-content {
  margin: unset;
  border: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
}

.alert-dialog-content[data-state='open'] {
  animation: alert-dialog-content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alert-dialog-content[data-state='closed'] {
  animation: alert-dialog-content-hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes alert-dialog-content-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes alert-dialog-content-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
