---
import type { HTMLAttributes } from 'astro/types';
import { twm } from '@/utilities/twm';
import { headingRootStyles } from './heading-root.styles';

interface Props extends HTMLAttributes<'h1'> {
  /**
   * Determines which tag will be used (h1-h6).
   * @default "h1"
   */
  as?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';

  /**
   * The size of the heading.
   * @default "6"
   */
  size?: '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9';

  /**
   * Uses a higher contrast color for the heading.
   * @default true
   */
  highContrast?: boolean;
}

const { as = 'h1', size = '6', highContrast = true, class: className, ...others } = Astro.props;
---

{
  as === 'h1' && (
    <h1 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h1>
  )
}

{
  as === 'h2' && (
    <h2 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h2>
  )
}

{
  as === 'h3' && (
    <h3 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h3>
  )
}

{
  as === 'h4' && (
    <h4 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h4>
  )
}

{
  as === 'h5' && (
    <h5 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h5>
  )
}

{
  as === 'h6' && (
    <h6 class={twm(headingRootStyles({ size, highContrast }), className)} {...others}>
      <slot />
    </h6>
  )
}
