---
import { BaseLayout } from '@/layouts';
import { Link, List } from '@/components';

const links = [
  { slug: 'example', label: 'Example' },
  { slug: 'disabled', label: 'Disabled' },
  { slug: 'external', label: 'External' },
];

const title = 'Link | Qwik Primitives Astro Playground';
const description = 'Semantic element for navigation between pages.';
---

<BaseLayout title={title} description={description}>
  <h1>Link</h1>
  <p>Semantic element for navigation between pages.</p>

  <List.Root>
    {
      links.map(({ slug, label }) => (
        <List.Item>
          <Link href={`/components/link/${slug}`}>{label}</Link>
        </List.Item>
      ))
    }
  </List.Root>
</BaseLayout>
