.alert-dialog-trigger {
  all: unset;
  box-sizing: border-box;
  height: 2rem;
  padding-inline: 0.75rem;
  color: #ffffff;
  background-color: #e5484d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0em;
  font-weight: 500;
  user-select: none;
  cursor: default;
  border-radius: 0.25rem;
  transition:
    background-color,
    filter 100ms ease;
}

.alert-dialog-trigger:focus-visible {
  outline: 2px solid #eb8e90;
  outline-offset: 2px;
}

.alert-dialog-trigger:hover {
  background-color: #dc3e42;
}

.alert-dialog-trigger:enabled:active {
  filter: brightness(0.92) saturate(1.1);
}

.alert-dialog-content {
  margin: unset;
  border: unset;
  outline: none;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 28.125rem;
  max-height: 85vh;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow:
    0 0 0 1px #00104010,
    0 12px 60px #00000026,
    0 16px 64px #00005506,
    0 16px 36px -20px #00063332,
    0 0 0 100vmax #00000066;
}

.alert-dialog-content[data-state='open'] {
  animation: alert-dialog-show 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alert-dialog-content[data-state='closed'] {
  animation: alert-dialog-hide 100ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alert-dialog-content::backdrop {
  background-color: transparent;
}

.alert-dialog-title {
  all: unset;
  color: #1e1f24;
  text-wrap: balance;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.005em;
}

.alert-dialog-description {
  all: unset;
  display: block;
  padding-top: 0.75rem;
  color: #0002119d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0em;
}

.alert-dialog-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.75rem;
}

.alert-dialog-cancel {
  all: unset;
  box-sizing: border-box;
  height: 2rem;
  padding-inline: 0.75rem;
  color: #0002119d;
  background-color: #00104010;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0em;
  font-weight: 500;
  user-select: none;
  cursor: default;
  border-radius: 0.25rem;
  transition: background-color 100ms ease;
}

.alert-dialog-cancel:focus-visible {
  outline: 2px solid #b98bff;
  outline-offset: -1px;
}

.alert-dialog-cancel:hover {
  background-color: #000b3618;
}

.alert-dialog-cancel:enabled:active {
  background-color: #0009321f;
}

.alert-dialog-action {
  all: unset;
  box-sizing: border-box;
  height: 2rem;
  padding-inline: 0.75rem;
  color: #ffffff;
  background-color: #db0007b7;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0em;
  font-weight: 500;
  user-select: none;
  cursor: default;
  border-radius: 0.25rem;
  transition:
    background-color,
    filter 100ms ease;
}

.alert-dialog-action:focus-visible {
  outline: 2px solid #eb8e90;
  outline-offset: 2px;
}

.alert-dialog-action:hover {
  background-color: #d10005c1;
}

.alert-dialog-action:enabled:active {
  filter: brightness(0.92) saturate(1.1);
}

@keyframes alert-dialog-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes alert-dialog-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.99);
  }
}
