---
import { BaseLayout } from '@/layouts';
import { Label } from '@/demos';

const title = 'Label with input number | Qwik Primitives Astro Playground';
const description = 'Renders an accessible label associated with controls.';
---

<BaseLayout title={title} description={description}>
  <h1>Label</h1>
  <p>Renders an accessible label associated with controls.</p>

  <Label.WithInputNumber />
</BaseLayout>
